.header-container{
    height: 624px;
    /* background: url('../../../images/bg-header.png'); */
    background-color: #2E39BF;
    padding-top: 150px !important;
    /* background-color: #B9D5DC; */
}
.main-content{
    margin-right: 50px !important;
    /* background: url('../../../images/bg-header.png'); */
}
.header-img{
    border-radius: 10px;
}