.header-container{
    height: 560px;
    background: url('../../../images/bg-header.png');
    background-color: rgb(215, 248, 250);
    /* background-color: #B9D5DC; */
}
.main-content{
    /* background: url('../../../images/bg-header.png'); */
}
.header-img{
    border-radius: 10px;
}