.order-form{
    margin:30px 100px;
}
.order-form input {
    display: block;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 300px;
}
.error{
    color: red;
}
.bg-order{
    background-color: cornflowerblue;
    height: 500px;
    border-radius: 10px;
}
.order-container{
    background: #caf0f8;
}