.link a{
    list-style: none;
    text-decoration: none;
    color: rgb(22, 73, 6);
    font-weight: 700;

}
.link a:hover{
    color: #fff;
}
.footer-container{
    /* background-color: aquamarine; */
    background-color: #5f6aec;
}
.footer-logo{
    width: 60px;
    height: 60px;
}

.bottom-to-top {
    position: fixed;
    bottom: 20px;
    right: 10px;
    background: #2E39BF;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    transition: all 500ms;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.123);
}

.bottom-to-top:hover {
    background: #03d7fd;
    color: #fff;
}
