.features-card{
    width: 22rem;
}
.features-img{
    height: 200px;
    padding-top: 20px;
}
.features-card{
    opacity: 0.8;
    transition: all 600ms;
    cursor: pointer;
}
.features-card:hover{
    opacity: 1;
    background-color: #626eee;
    color: #fff;
}