.service-card{
    max-width: 500px;
    cursor: pointer;
    transition: all 700ms;
    color: #fff;
    background-color: #5f6aec;
}
.service-card:hover{
    color: #000;
}
.service-card:hover .service-card-img{
    width: 150px;
    height: 150px;
    transition: all 800ms;
}
.service-card-img{
    width: 200px;
    height: 200px;
}
.btn-colorful{
    background: #4452f3;
    color: #fff;
    font-weight: 700;
}
